
.encabezado{
    background-color: #202742;
    text-align: center;
    width: 100%;
    margin: auto;
    height: auto;
    display: block;
}
.contenedor{
    max-width: 100%;
    margin: auto;       
    padding: 0 20px; 
}
h1{
    color: #D2D6DC;
    font-family: Arial, sans-serif;
    font-size: 70px;
    border-top: 4px solid #D2D6DC;
    border-radius: 6%;
    border-bottom: 4px solid #D2D6DC;
}
h3{
    color: #D2D6DC;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding-top: 0;
    margin-top: 0;
}
.titulo{
    padding-top: 40px;
    padding-bottom: 0px;
    margin-bottom: 0;
}
.not{
    margin: 0;

}
.ia{
    width: 100%;
    height: auto;
    display: block;
}
.cuerpo{
    margin: auto;
    display: flex;
    gap: 20px;
    padding: 20px;

}
.subT{
    text-align: justify;
    color:#202742;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    border-bottom: 4px solid #D2D6DC;
    border-radius: 6%;
}
.texto{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #202742;
}
.acotacion{
    background-color: #202742;
    padding: 15px;
    margin: auto;
    padding-left: 30px;
    padding-right: 20px;
    max-width: 240px;
    height: 300px;
}
.aco{
    color: #D2D6DC;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700;
    border-bottom: 4px solid #D2D6DC;
}
.act{
    color: #D2D6DC;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 100;
}
.comentario{
    display: block;
    width: 300px;
    margin: 40px auto;
    padding: 12px;
    background-color: orange;
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px #0007;
    border: none;
}
/*Formulario */
.respuesta{
    background-color: #202742; 
}
.h2_form{
    text-align: center;
    font-size: 25px;
}
.form_coment{
    background-color: #2a314d;
    margin: 30px;
    padding: 1px;
    width: auto;
    height: auto;
}
.c_form{
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #D2D6DC;
}
.datos, .msj{
    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: none;
    background-color: #313544;
    border-left: 5px solid #D2D6DC;
    color: #D2D6DC;
    border-radius: 6px;
}
.msj{
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
    height: 200px;
}
input[type="checkbox"] {
    accent-color: orange;
}
.enviar{
    display: block;
    margin-top: 20px;
    height: 43px;
    width: 30%;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px #0007;
}
